[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/core-contracts"]
	path = lib/core-contracts
	url = https://github.com/zerolend/core-contracts
